body {
  padding-top: 50px;
  background: radial-gradient(
    circle,
    rgba(180, 238, 174, 1) 24%,
    rgba(100, 230, 209, 1) 100%
  );
  width: 100vw;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 50px;
}

.introduction {
  width: 80%;
}

.name {
  font-size: 32px;
  color: rgb(56, 139, 234);
}

.about {
  text-align: left;
  color: rgb(95, 93, 93);
}

.project-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.skills-child {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
}

.project-container {
  width: 90%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(250, 250, 250);
}

.project-title {
  font-size: 28px;
  font-weight: bold;
  color: rgb(19, 103, 19);
}

.project-skills {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

.form {
  background-color: white;
  width: 500px;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media only screen and (max-width: 650px) {
  .introduction {
    font-size: medium;
  }

  .about {
    font-size: small;
  }

  .name {
    font-size: 18px;
  }

  .skills {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  .skill {
    width: 100%;
    font-size: 10px;
  }

  .skills-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  .projects {
    font-size: 12px;
  }

  .form {
    width: 250px;
    font-size: 10px;
  }
}
